<!-- <p>header works!</p>

<div *ngFor="let user of users">
  <p>{{ user }}</p>
</div>
<br><br><br><br><br> -->
<!-- header-->

<!-- cebeçalho -->
<header>
<section>
  <div class="cab">
   <h1>Cycle</h1>
</div>
</section>
</header>

<!-- conteudo da pagina -->
<div class="container">
  <section class="section-content">
    <h2 class="section-title">O Ciclo Menstrual</h2>
    <p>O ciclo menstrual é o período de tempo entre o primeiro dia de uma menstruação e o primeiro dia da próxima. Geralmente, tem duração média de 28 dias, mas pode variar de mulher para mulher.</p>
  </section>

  <div class="content-wrapper">
    <div class="img-cab">
      <img src="assets/women1.png">
    </div>

    <section>
      <h2 class="section-title">Dicas</h2>

      <div class="tips">
        <div class="tip-card dica1">
          <h3>Dica 1</h3>
          <p>Conheça seu corpo: É fundamental entender e acompanhar seu próprio ciclo menstrual. Tome nota das datas de início e término de cada período menstrual e observe as alterações físicas e emocionais que você experimenta ao longo do ciclo.</p>
        </div>
        <div class="tip-card dica2">
          <h3>Dica 2</h3>
          <p>Cuide da sua saúde geral: Manter uma boa saúde geral é essencial para um ciclo menstrual saudável. Certifique-se de ter uma dieta equilibrada, rica em nutrientes, incluindo vitaminas e minerais importantes, como ferro e cálcio.</p>
        </div>
        <div class="tip-card dica3">
          <h3>Dica 3</h3>
          <p>Converse com um profissional de saúde: Se você tiver dúvidas ou preocupações sobre seu ciclo menstrual, é sempre recomendável buscar orientação de um profissional de saúde, como um médico ginecologista.</p>
        </div>
      </div>
    </section>
  </div>

<div>
  
</div>
  
  <section>
      <h2 class="section-titleA">Ajuda</h2>

      <div class="tips">
        <!-- Aqui você pode adicionar os três novos cards com o conteúdo -->
        <!-- Exemplo: -->
        <div class="tip-card ajuda1">
          <h3>Ajuda 1</h3>n
          <p>Texto do primeiro card de ajuda.</p>
        </div>
        <div class="tip-card ajuda2">
          <h3>Ajuda 2</h3>
          <p>Texto do segundo card de ajuda.</p>
        </div>
        <div class="tip-card ajuda3">
          <h3>Ajuda 3</h3>
          <p>Texto do terceiro card de ajuda.</p>
        </div>
        <!-- Fim do exemplo -->
      </div>
    </section>
 
</div>
<br>
<div class="works">
  <a class="works">Mulheres no Mercado de Trabalho</a>

<img class="img-work" src="assets/womenWorks.png">

</div>

<div class="cont-work">
  <p>Atualmente, as mulheres estão desempenhando um papel crescente e significativo no mercado de trabalho, conquistando espaços em áreas como STEM e ascendendo a cargos de liderança.
    No entanto, desafios como disparidade salarial e discriminação persistem. Para promover a igualdade de gênero, são necessárias políticas e práticas que garantam oportunidades equitativas para homens e mulheres. 
    Embora progressos tenham sido feitos, ainda há trabalho a ser feito para superar os obstáculos e garantir oportunidades iguais para todas as mulheres.</p>

</div>

<div class="container">
  <!-- Outros conteúdos omitidos para brevidade -->

  <ul class="slider">
    <li>
      <img src="assets/WTI.jpeg" />
    </li>
    <li>
      <img src="assets/Odonto.jpg" />
    </li>
    <li>
      <img src="assets/Bio.webp" />
    </li>
    <li>
      <img src="assets/cont.jpeg" />
    </li>
  </ul>
</div>

<div class="work2">


</div>